---
title: "Concatenate Values"
description: "How to concatenate values in an SQL database."
tags: postgresql, text
URL: https://github.com/ActiveState/code
Creator: 
Meta: 

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Concatenate Values
        </h1>
        <p>How to concatenate values in an SQL database.</p>
    	</div>
		</div>

 <div style="height:40px">
<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
Example
</span>
</div>
</div>

Note: This code works in PostgreSQL databases, but might not work in other SQL database systems (e.g. MySQL).

## Create Table

```sql
-- Create table called adventurers
CREATE TABLE adventurers (
    -- string variable
    name varchar(255),
    -- integer variable
    age int,
    -- string variable
    race varchar(255),
    -- string variable
    weapon varchar(255)
)
```

## Insert Rows

```sql
-- Insert into the table adventurers
INSERT INTO adventurers (name, age, race, weapon)
VALUES ('Fjoak Doom-Wife', 28, 'Human', 'Axe'),
       ('Alooneric Cortte', 29, 'Elf', 'Bow'),
       ('Piperel Ramsay', 35, 'Elf', 'Sword'),
       ('Casimir Yardley', 14, 'Elf', 'Magic')
```

## Retrieve Two Columns

```sql
-- Retrieve name and age values and concatenate together as a sentence
SELECT name||' is '||age||' years old.' FROM adventurers
```
<table border="1" style="border-collapse:collapse">
<tr><th>?column?</th></tr>
<tr><td>Fjoak Doom-Wife is 28 years old.</td></tr>
<tr><td>Alooneric Cortte is 29 years old.</td></tr>
<tr><td>Piperel Ramsay is 35 years old.</td></tr>
<tr><td>Casimir Yardley is 14 years old.</td></tr></table>