---
title: "Convert Floats To Integers"
description: "How to convert floats to integers in an SQL database."
tags: postgresql, numeric
URL: https://github.com/ActiveState/code
Creator: 
Meta: 

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Convert Floats To Integers
        </h1>
        <p>How to convert floats to integers in an SQL database.</p>
    	</div>
		</div>

 <div style="height:40px">
<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
Example
</span>
</div>
</div>

## Create Table

```sql
-- Create table called adventurers
CREATE TABLE adventurers (
    -- string variable
    name varchar(255),
    -- integer variable
    age int,
    -- string variable
    race varchar(255),
    -- string variable
    weapon varchar(255)
)
```

## Insert Rows

```sql
-- Insert into the table adventurers
INSERT INTO adventurers (name, age, race, weapon)
VALUES ('Fjoak Doom-Wife', 28, 'Human', 'Axe'),
       ('Alooneric Cortte', 29, 'Elf', 'Bow'),
       ('Piperel Ramsay', 35, 'Elf', 'Sword'),
       ('Casimir Yardley', 14, 'Elf', 'Magic')
```

## Calculate Average

```sql
-- Return average value of of age in adventurers
SELECT AVG(age) FROM adventurers
```
<table border="1" style="border-collapse:collapse">
<tr><th>avg</th></tr>
<tr><td>26.5</td></tr></table>

## Calculate Average As Integer

```sql
-- Return average integer value of age in adventurers
SELECT CAST(AVG(age) AS INTEGER) FROM adventurers
```
<table border="1" style="border-collapse:collapse">
<tr><th>avg</th></tr>
<tr><td>27</td></tr></table>