---
title: "Create A DataFrame from a List of Lists."
description: "A DataFrame object represents a spreadsheet, with cell values, column names and row index labels. You can easily initialize a DataFrame object from a list of lists."
tags: Pandas, Lists
URL: https://github.com/ageron/handson-ml
Licence: Apache License 2.0
Creator: 
Meta: ""

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Create A DataFrame from a List of Lists.
        </h1>
        <p>A DataFrame object represents a spreadsheet, with cell values, column names and row index labels. You can easily initialize a DataFrame object from a list of lists.</p>
    	</div>
		</div>

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Key Code
    	</span>
		</div>
		</div>

In [ ]:
import pandas as pd
list_of_lists = [ [], [], ... ]

In [ ]:
df = pd.DataFrame(list_of_lists)

In [ ]:
# add column names and/or index labels
df = pd.DataFrame(
        list_of_lists,
        columns = ["name", "your", "columns", "here"]
        index = ["and/or", "name", "your", "index_labels"]
)

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

## Create a list of lists that is our data

In [ ]:
values = [
            [1985, 1, "Biking", 68],
            [1984, 3, "Dancing", 83],
            [1992, 0, "Skiing", 112]
         ]

## Create DataFrame from `values` with column names and index labels

In [27]:
d3 = pd.DataFrame(
        values,
        columns=["birthyear", "children", "hobby", "weight"],
        index=["alice", "bob", "charles"]
     )
d3

         birthyear  children    hobby  weight
alice         1985         1   Biking      68
bob           1984         3  Dancing      83
charles       1992         0   Skiing     112