---
title: "Create Column Conditional On Another Column"
description: "How to create a column conditional on another column in an SQL database."
tags: postgresql, add_delete_change
URL: https://github.com/ActiveState/code
Creator: 
Meta: 

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Create Column Conditional On Another Column
        </h1>
        <p>How to create a column conditional on another column in an SQL database.</p>
    	</div>
		</div>

 <div style="height:40px">
<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
Example
</span>
</div>
</div>

## Create Table

```sql
-- Create table called adventurers
CREATE TABLE adventurers (
    -- string variable
    name varchar(255),
    -- integer variable
    age int,
    -- string variable
    race varchar(255),
    -- string variable
    weapon varchar(255)
)
```

## Insert Rows

```sql
-- Insert into the table adventurers
INSERT INTO adventurers (name, age, race, weapon)
VALUES ('Fjoak Doom-Wife', 28, 'Human', 'Axe'),
       ('Alooneric Cortte', 29, 'Elf', 'Bow'),
       ('Piperel Ramsay', 35, 'Elf', 'Sword'),
       ('Casimir Yardley', 14, 'Elf', 'Magic')
```

## Create An If Else Statement

There are a number of ways to do if-else in SQL, my prefered way is the `CASE` statement.

```sql
-- Retrieve all rows
SELECT *,
    -- The case when race = elf, return "Elvish"
    CASE WHEN race = 'Elf' THEN 'Elvish'
         -- When race = human, return "Human"
         WHEN race = 'Human' THEN 'Human'
    -- Call this column "race"
    END AS race
-- Do this from the adventurers table
FROM adventurers
```
<table border="1" style="border-collapse:collapse">
<tr><th>name</th><th>age</th><th>race</th><th>weapon</th><th>race</th></tr>
<tr><td>Fjoak Doom-Wife</td><td>28</td><td>Human</td><td>Axe</td><td>Human</td></tr>
<tr><td>Alooneric Cortte</td><td>29</td><td>Elf</td><td>Bow</td><td>Elvish</td></tr>
<tr><td>Piperel Ramsay</td><td>35</td><td>Elf</td><td>Sword</td><td>Elvish</td></tr>
<tr><td>Casimir Yardley</td><td>14</td><td>Elf</td><td>Magic</td><td>Elvish</td></tr></table>