---
title: "Index and Slice MultiIndex DataFrames"
description: "Indexing and slicing a MultiIndex is pretty intuitive. MultiIndex DataFrames support the same `.loc` and `.iloc` index methods. However, columns are primary in a DataFrame so these methods apply to the columns."
tags: Pandas
URL: https://github.com/jakevdp/PythonDataScienceHandbook/
Licence: MIT for code, Text is copyrighted
Creator: 
Meta: "loc iloc"

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Index and Slice MultiIndex DataFrames
        </h1>
        <p>Indexing and slicing a MultiIndex is pretty intuitive. MultiIndex DataFrames support the same `.loc` and `.iloc` index methods. However, columns are primary in a DataFrame so these methods apply to the columns.</p>
    	</div>
		</div>

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

In [138]:
import pandas as pd

## Creating example data

In [133]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Alice', 'Bob', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])

# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject    Alice         Bob         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      42.0  38.1  35.0  37.6  40.0  37.0
     2      30.0  36.2  40.0  36.9  37.0  37.8
2014 1      28.0  36.7  33.0  37.5  46.0  37.8
     2      60.0  38.4  19.0  37.0  41.0  35.0

In [168]:
# simple index operations
health_data['Alice', 'HR']

year  visit
2013  1        42.0
      2        30.0
2014  1        28.0
      2        60.0
Name: (Alice, HR), dtype: float64

In [169]:
# by integer location
health_data.iloc[:2, :2]

subject    Alice
type          HR  Temp
year visit
2013 1      42.0  38.1
     2      30.0  36.2

In [171]:
# tuple of multiple indices
health_data.loc[:, ('Bob', 'Temp')]

year  visit
2013  1        37.6
      2        36.9
2014  1        37.5
      2        37.0
Name: (Bob, Temp), dtype: float64