---
title: "Select Rows When Columns Contain Certain Values"
description: ""
tags: python, data_wrangling
URL: https://github.com/chrisalbon/notes
Licence: 
Creator: 
Meta: 

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 75px;text-align: center; padding-top:5px">
        <h1>
      	Select Rows When Columns Contain Certain Values
        </h1>
        <p></p>
    	</div>
		</div>

## Preliminaries

In [1]:
# Import modules
import pandas as pd

# Set ipython's max row display
pd.set_option('display.max_row', 1000)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

## Create an example dataframe

In [2]:
# Create an example dataframe
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

             name  reports  year
Cochice     Jason        4  2012
Pima        Molly       24  2012
Santa Cruz   Tina       31  2013
Maricopa     Jake        2  2014
Yuma          Amy        3  2014

## Grab rows based on column values

In [3]:
value_list = ['Tina', 'Molly', 'Jason']

In [4]:
#Grab DataFrame rows where column has certain values
df[df.name.isin(value_list)]

             name  reports  year
Cochice     Jason        4  2012
Pima        Molly       24  2012
Santa Cruz   Tina       31  2013

In [5]:
#Grab DataFrame rows where column doesn't have certain values
df[~df.name.isin(value_list)]

          name  reports  year
Maricopa  Jake        2  2014
Yuma       Amy        3  2014