---
title: "Select Rows With A Certain Value"
description: ""
tags: python, data_wrangling
URL: https://github.com/chrisalbon/notes
Licence: 
Creator: 
Meta: 

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 75px;text-align: center; padding-top:5px">
        <h1>
      	Select Rows With A Certain Value
        </h1>
        <p></p>
    	</div>
		</div>

In [1]:
import pandas as pd

In [2]:
# Create an example dataframe
data = {'name': ['Jason', 'Molly'], 
        'country': [['Syria', 'Lebanon'],['Spain', 'Morocco']]}
df = pd.DataFrame(data)
df

            country   name
0  [Syria, Lebanon]  Jason
1  [Spain, Morocco]  Molly

In [3]:
df[df['country'].map(lambda country: 'Syria' in country)]

            country   name
0  [Syria, Lebanon]  Jason