---
title: "Use Column Aliases With Where Clause"
description: "How to use column aliases with a where clause in an SQL database."
tags: postgresql: basics
URL: https://github.com/ActiveState/code
Creator: 
Meta: 

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Use Column Aliases With Where Clause
        </h1>
        <p>How to use column aliases with a where clause in an SQL database.</p>
    	</div>
		</div>

 <div style="height:40px">
<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
Example
</span>
</div>
</div>

## Create Table

```sql
-- Create table called adventurers
CREATE TABLE adventurers (
    -- string variable
    name varchar(255),
    -- integer variable
    age int,
    -- string variable
    race varchar(255),
    -- string variable
    weapon varchar(255)
)
```

## Insert Rows

```sql
-- Insert into the table adventurers
INSERT INTO adventurers (name, age, race, weapon)
VALUES ('Fjoak Doom-Wife', 28, 'Human', 'Axe'),
       ('Alooneric Cortte', 29, 'Elf', 'Bow'),
       ('Piperel Ramsay', 35, 'Elf', 'Sword'),
       ('Casimir Yardley', 14, 'Elf', 'Magic')
```

## Retrieve Two Columns

The trick is to wrap the column aliasing in paratheses.

```sql
-- Retrieve rows from
SELECT * FROM
    -- Create alias for columns
    (
      -- Retrieve name and weapon column, renamed full_name and primary_weapon
      SELECT name as full_name, weapon as primary_weapon FROM adventurers
    )
    -- with the alias called biological_data
    AS biological_data
-- Where the values in the alias column is 'Axe'
WHERE primary_weapon = 'Axe'
```
<table border="1" style="border-collapse:collapse">
<tr><th>full_name</th><th>primary_weapon</th></tr>
<tr><td>Fjoak Doom-Wife</td><td>Axe</td></tr></table>