---
title: "Drop a Row from a DataFrame"
description: "Remove a row or many rows from a pandas dataframe."
tags: Pandas
URL: https://github.com/ageron/handson-ml
Licence: Apache License 2.0
Creator: 
Meta: ""

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Drop a Row from a DataFrame
        </h1>
        <p>Remove a row or many rows from a pandas dataframe.</p>
    	</div>
		</div>

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Key Code
    	</span>
		</div>
		</div>

In [ ]:
import pandas as pd

In [ ]:
# drop by index label
df.drop('row_label')
# or
df.drop(['row_label_1', 'row_label_2', '...'])

In [ ]:
# drop by index
df.drop(index)
# or
df.drop([index_1, index_2, ...])

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

## Create example DataFrame

In [103]:
people_dict = {
    "weight": [68, 83, 112],
    "birthyear": [1985, 1984, 1992],
    "children": [np.nan, 3, 0],
    "hobby": ["Biking", "Dancing", np.nan],
}
people = pd.DataFrame(people_dict, index=["alice", "bob", "charles"])
people

         weight  birthyear  children    hobby
alice        68       1985       NaN   Biking
bob          83       1984       3.0  Dancing
charles     112       1992       0.0      NaN

## Dropping with index label

In [105]:
people.drop('charles')

       weight  birthyear  children    hobby
alice      68       1985       NaN   Biking
bob        83       1984       3.0  Dancing

## Dropping with index

In [106]:
people = pd.DataFrame(people_dict)
people

   weight  birthyear  children    hobby
0      68       1985       NaN   Biking
1      83       1984       3.0  Dancing
2     112       1992       0.0      NaN

In [107]:
people.drop([1,2])

   weight  birthyear  children   hobby
0      68       1985       NaN  Biking